body {
    margin : 0;
    padding : 0;
}

header {
    background : purple;
    display : flex;
    align-items : center;
    justify-content:space-between;
}

header div{
    display : flex;
    align-items : center;
    justify-content: space-between;
}

h1 {
    color : white;
    margin-left : 15px;
}
#username {
    margin-right:15px;
    padding-top:7px;
    color: white;
    font-size: 25px;
}
#signout, #addrecord {
    margin-right:15px;
}

#signout a, #addrecord a  {
    color:white;
    text-decoration :none;
}

.records {
    display : flex;
    align-items : center;
    justify-content:center;
    flex-wrap:wrap;
}

.card {
    margin : 20px;
    padding : 1px;
}